<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.chetan2024.reduce">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Reduce"
        tools:ignore="ExtraText">

        <!-- Welcome Activity (Main) -->
        <activity
            android:name=".WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Other activities -->
        <activity android:name=".MotivationActivity" android:exported="true"/>
        <activity android:name=".PermReqActivity" android:exported="true"/>
        <activity android:name=".SelectAppsActivity" android:exported="true"/>
        <activity android:name=".ConfirmActivity" android:exported="true"/>
        <activity android:name=".RedirectDWActivity" android:exported="true"/>
        <activity android:name=".SummaryActivity" android:exported="true"/>

        <!-- Accessibility Service Declaration -->
        <service
            android:name=".YourAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service> <!-- Closing the service tag correctly -->

    </application>

    <!-- Permissions -->
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" tools:ignore="QueryAllPackagesPermission" />
</manifest>
